.App-editor {
    font-family: sans-serif;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 0;
    width: 100%;
    /* min-height: 80vh; */
    /* border:2px solid black; */
}
/* Override default */
.Draftail-Toolbar {
    background: transparent !important;
    border: none !important;
}
/* Override default */
.Draftail-Editor {
    border: none !important;
    width: 60% !important;
    min-height: 300px;
    margin-top: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: yellow !important;
}
/* Override default */
.public-DraftEditor-content {
    font-family: Georgia, "Times New Roman", Times, serif !important;
}
/* Override default */
.public-DraftEditorPlaceholder-inner {
    font-family: Georgia, "Times New Roman", Times, serif !important;
}

.input-extra{
    width: 60%;
    /* text-align: center; */
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (max-width: 500px){
    .Draftail-Editor{
        width: 90% !important;
    }
    
.input-extra{
    width: 90%;
    /* text-align: center; */
    margin-left: auto !important;
    margin-right: auto !important;
}
}